*,
*::before,
*::after {
  box-sizing: border-box;
}

form {
  width: 418px;
  display: flex;
  flex-direction: column;
  border-radius: 13px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

/* FORM HEADING */

.form-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
}

.form-heading h3 {
  margin: 0;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 29px;
  text-align: center;
  color: #22386f;
}

.form-heading img {
  margin-bottom: 10px;
  padding: 3px;
}

/* FORM BODY */

.form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-input {
  margin-bottom: 1rem;
}

form input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #c3e4ea;
  outline: none !important;
  outline-width: 0 !important;
  padding: 0.2rem 0rem;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: #111d35;
}

form input:focus {
  border-bottom: 1px solid #9013fe;
}

form input::placeholder {
  color: #111d35;
}

.input-special::placeholder {
  color: #77a4ac;
}

.registration-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

/* Custom select stylings */

.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin-bottom: 1rem;
}

.custom-select select {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #c3e4ea;
  padding: 0.2rem 0rem;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #111d35;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

option {
  appearance: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.288638);
}

/* TERMS OF SERVICE CHECK */

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin: 50px 0px 30px 0px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 10.827px;
  line-height: 13px;
  text-align: center;
  color: #22386f;
}

.container a {
  text-decoration: underline;
  color: #22386f;
  padding-left: 0.1rem;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  height: 15px;
  width: 15px;
  background: #f8fafc;
  border: 0.6048px solid #4697c3;
  box-sizing: border-box;
  border-radius: 2.4192px;
  margin-right: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  margin-left: 5px;
  margin-top: 2px;
  width: 3px;
  height: 7px;
  border: solid #1c6774;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* FORM BUTTON */

.signup-button {
  height: 80px;
  background: linear-gradient(180deg, #79d9f1 0%, #44b1df 100%);
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18.4px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
  border: none;
  border-radius: 0px 0px 13px 13px;
}
